@font-face {
	font-family: Freight Text Medium;
	src:url(FreightTextMedium.otf);
}


body {
    margin: 20px;
    background: url(img/bkgd2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*--LOGO--------*/
#logo{
    /*position: fixed;*/
    width: 100%;
    height: 25%;
    border: #220706;
    opacity: 85%;
    
}
/*----------------------------------*/
/*CharacterImg section*/

#imgSec{
 
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 10rem 10rem;
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
    padding: 2rem 0;

}



.characterImg{
    height: 10rem;
    width: 11rem;
    align-self: center;
    cursor: pointer;

}
/*-----------------------------------*/
/*Adding animation to characterImgs*/
.brightness {
    background-color: rgba(0, 0, 0, 0.164);
    display: inline-block;

}
.brightness img:hover {
    opacity: .3;
    border:5px solid #220706;

}
.grow{
    transition: all .2s ease-in-out;
}
.grow:hover{
    transform: scale(1.1);
}
/*-----------------------------------*/
#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
    background-color: rgba(255, 255, 255, 0.671);
    margin: 10px auto;

}

#display {
    display: flex;
    margin: 10px auto 20px;
    max-width: 250px;
    opacity: 0.5;
}


.modal #zImage {
    max-width: 100px;
}

h2 {
    margin-top: 0;
    text-align: center;
}

#middle {
    margin: 0 auto;
}

#userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#userInfo div {
    margin-bottom: 5px;
    padding: 8px;
}


#userSubmit {
    padding: 10px 24px;
    background-color: rgb(85, 5, 5);
    font-size: 20px;
    color: #fff;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

/*zodiac buttons*/
.zButton {
    margin: 5px 10px;
    height: 70px;
    width: 70px;
    border: ;
    background-color: rgb(85, 5, 5);
    color: white;
    cursor: pointer;
}

.zButton:hover {
   transform: rotate(10deg);
}
/*---------------------*/


@media (max-width: 800px){
    #imgSec{
        display: grid;
        grid-template-columns: auto auto auto auto ;
        grid-template-rows: 10rem ;
        grid-gap: 1rem;
        align-content: center;
        justify-content: center;
        padding: 2rem 0;
    
    }    

}


@media (min-width:320px) and (max-width: 480px){
    #logo{
        position: fixed;
        width: 100%;
        height:30%;
        border: #220706;  
        opacity: 100%; 
        margin: -1.5rem;  
    }
    #LOGOSec{
        padding-bottom: 250px;
    }
    #wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
        max-width: 1280px;
        background-color: rgba(255, 255, 255, 0.671);
        margin: 10px auto;
    
    }
    #instru{
        padding:1rem 0.5rem;
    }
    

    .characterImg{

        align-self: center;
        cursor: pointer;
        padding: 0.3rem;
    }
    #imgSec{
 
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: 10rem ;
        grid-gap: 1rem;
        align-content: center;
        justify-content: center;
        padding: 2rem 0;
    }
    #userInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin-top: -1rem;;
        border: 1px solid red;
    }
    #middle {
        margin: 10 auto;
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto auto auto;
    }
    .zButton {
        margin: 5px 10px;
        height: 80px;
        width: 80px;
        border: 1.5px solid  rgb(44, 8, 8);
        background-color: rgb(85, 5, 5);
        color: white;
        cursor: pointer;
    } 

    

}